:root {
    --kenkata-blue: #20D3C2;
    --kenkata-blue-light: #20d3c115;
    --kenkata-blue-dark: #0E153D;
    --kenkata-blue-darker: rgba(14, 21, 61, 0.87);
    --kenkata-green: #64CB83;
    --kenkata-red: #FE4545;
    --kenkata-gray: #AAAAAA;
    --kenkata-gray-light: #E3E3E3;
    --kenkata-gray-lighter: #EEEEEE;
    --kenkata-gray-lightest: #F6F6F6;
}

/* Utilities */
.carousel-height {
    height: 380px;
  }
.my-custom {
    margin-top: 5em;
    margin-bottom: 5em;
}
.mb-custom {
    margin-bottom: 5em;
}

/* Backgrounds */
.bg-kenkata-blue {
    background-color: var(--kenkata-blue) !important;
    color: white;
}
.bg-kenkata-red {
    background-color: var(--kenkata-red);
    color: white;
}
.bg-kenkata-green {
    background-color: var(--kenkata-green);
    color: white;
}
.bg-kenkata-blue-dark {
    background-color: var(--kenkata-blue-dark) !important;
}
.bg-kenkata-blue-semidark {
    background-color: var(--kenkata-blue-darker)
}
.bg-kenkata-dark-gray {
    background-color: #cccccc
}
.bg-kenkata-gray {
    background-color: var(--kenkata-gray-lighter);
}
.bg-kenkata-gray-light {
    background-color: var(--kenkata-gray-lightest);
}

/* Text */
.text-kenkata-blue {
    color: var(--kenkata-blue);
}
.text-kenkata-blue-dark {
    color: var(--kenkata-blue-dark);
}

/* Buttons */
.btn-kenkata-blue {
    padding: 0.4em 1em;
    background-color: var(--kenkata-blue);
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid;
}
.btn-kenkata-white {
    padding: 0.7em 1.5em;
    background-color: white;
    color: var(--kenkata-blue);
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}
.btn-kenkata-dark {
    padding: 0.7em 1.5em;
    background-color: var(--kenkata-blue-dark);
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.btn-kenkata-dark:hover {
    color: white;
}
.btn-kenkata-blue:hover {
    background-color: white;
    color: var(--kenkata-blue);
    border: 1px solid var(--kenkata-blue);
}
.btn-kenkata-white:hover {
    background-color: var(--kenkata-blue);
    color: white;
}
